<h2>Edit organization</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <label for="name">Organization Name</label>
        <input type="text" class="form-control" [ngClass]="
        name.invalid && (name.dirty || name.touched)
          ? 'is-invalid'
          : ''
      " id="name" formControlName="name" aria-describedby="nameHelp" placeholder="Enter name" />
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.nameExists" class="invalid-feedback">
                name Exisits
            </div>
            <div *ngIf="name.errors.required" class="invalid-feedback">
                organizationName is required.
            </div>
        </ng-container>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="5" formControlName="description"></textarea>
    </div>
    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-primary mr-1" type="submit" [disabled]="form.invalid || form.pending">
                Submit
                <!-- <span *ngIf="form.get('organizationId').pending"> (searching)</span> -->
            </button>
            <button class="btn btn-secondary" routerLink="/organizations-list">list</button>
        </div>
    </div>
</form>