<h2>Add group</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control" [ngClass]="
        name.invalid && (name.dirty || name.touched)
          ? 'is-invalid'
          : ''
      " id="name" formControlName="name" aria-describedby="nameHelp" placeholder="Enter name" />
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.nameExists" class="invalid-feedback">
                groupName Exisits
            </div>
            <div *ngIf="name.errors.required" class="invalid-feedback">
                groupName is required.
            </div>
        </ng-container>
    </div>

    <div class="form-group">
        <label for="type">type</label>
        <input type="text" class="form-control" id="type" formControlName="type" aria-describedby="typeHelp"
            placeholder="Enter type" />
    </div>
    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-primary mr-1" type="submit" [disabled]="form.invalid || form.pending">
                Submit
                <!-- <span *ngIf="form.get('groupId').pending"> (searching)</span> -->
            </button>
            <button class="btn btn-secondary" routerLink="/groups-list">list</button>
        </div>
    </div>
</form>