<h2>Add organization</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="organizationId">Organization ID</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="
        organizationId.invalid && (organizationId.dirty || organizationId.touched) ? 'is-invalid' : ''
      "
      id="organizationId"
      formControlName="organizationId"
      aria-describedby="emailHelp"
      placeholder="Enter Organization ID"
    />
    <ng-container *ngIf="organizationId.invalid && (organizationId.dirty || organizationId.touched)">
      <div *ngIf="organizationId.errors.organizationIdExists" class="invalid-feedback">
        organizationId Exisits
      </div>
      <div *ngIf="organizationId.errors.required" class="invalid-feedback">
        organizationId is required.
      </div>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="
        password.invalid && (password.dirty || password.touched)
          ? 'is-invalid'
          : ''
      "
      id="password"
      formControlName="password"
      aria-describedby="passwordHelp"
      placeholder="Enter Password"
    />
    <ng-container
      *ngIf="password.invalid && (password.dirty || password.touched)"
    >
      <div *ngIf="password.errors.passwordExists" class="invalid-feedback">
        password Exisits
      </div>
      <div *ngIf="password.errors.required" class="invalid-feedback">
        password is required.
      </div>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="organizationName">Organization Name</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="
        organizationName.invalid && (organizationName.dirty || organizationName.touched)
          ? 'is-invalid'
          : ''
      "
      id="organizationName"
      formControlName="organizationName"
      aria-describedby="organizationNameHelp"
      placeholder="Enter organizationName"
    />
    <ng-container
      *ngIf="organizationName.invalid && (organizationName.dirty || organizationName.touched)"
    >
      <div *ngIf="organizationName.errors.organizationNameExists" class="invalid-feedback">
        organizationName Exisits
      </div>
      <div *ngIf="organizationName.errors.required" class="invalid-feedback">
        organizationName is required.
      </div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <input
      type="text"
      class="form-control"
      id="role"
      formControlName="role"
      aria-describedby="roleHelp"
      placeholder="Enter role"
    />
  </div>
  <div class="form-group">
    <label for="group">Group</label>
    <input
      type="text"
      class="form-control"
      id="group"
      formControlName="group"
      aria-describedby="groupHelp"
      placeholder="Enter group"
    />
  </div>
  <div class="clearfix">
    <div class="float-right">
      <button
        class="btn btn-primary mr-1"
        type="submit"
        [disabled]="form.invalid || form.pending"
      >
        Submit
        <span *ngIf="form.get('organizationId').pending"> (searching)</span>
      </button>
      <button class="btn btn-secondary" routerLink="/organizations-list">list</button>
    </div>
  </div>
</form>
