<div class="row">
  <div class="col-md-3 bg-success">
    <app-organizations-selector></app-organizations-selector>
  </div>
  <div class="col-md-9 bg-warning">
    <h2>schedules works!</h2>
    <app-settings-view></app-settings-view>
    <app-settings-edit></app-settings-edit>
    <hr />
    <app-schedules-list></app-schedules-list>
    <app-schedules-add></app-schedules-add>
    <app-schedules-edit></app-schedules-edit>
    <hr />
    <app-devices-list></app-devices-list>
    <app-devices-add></app-devices-add>
    <app-devices-edit></app-devices-edit>
  </div>
</div>
