<app-navbar></app-navbar>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <main role="main" class="mx-3">
  <div class="row">
    <div class="col-3">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="organizationSelect">Organization</label>
          <div class="float-right">
            <a
              class="small"
              [title]="'edit'"
              [routerLink]="['/organizations-list']"
              >Edit</a
            >
          </div>
          <div class="bg-success">{{ organization?.name }}</div>
          <select
            class="form-control"
            formControlName="organization"
            id="organizationSelect"
            (change)="onChange($event)"
          >
            <option
              [ngValue]="organization"
              *ngFor="let organization of organizations"
            >
              {{ organization.name }}</option
            >
          </select>
        </div>
      </form>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main> -->
