<app-navbar></app-navbar>
<div class="mx-3">
    <router-outlet></router-outlet>
</div>

<!-- 
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/">LOGO</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          href="#"
          routerLink="/users-list"
          [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          href="#"
          routerLink="/organizations-list"
          [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Organizations</a
        >
      </li>
    </ul>
  </div>
</nav>

<main role="main" style="padding-top: 4rem;" class="mx-3">
  <div class="row">
    <div class="col-3">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label for="organizationSelect">Organization</label>
          <select
            class="form-control"
            formControlName="organizationId"
            id="organizationSelect"
          >
            <option *ngFor="let organization of organizations">
              {{ organization.organizationName }}</option
            >
          </select>
        </div>
      </form>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="text-white my-2">
  <div class="bg-dark py-2">
    <span>LOGO &copy; All rights reserved</span>
  </div>
</footer> -->