<h2>Add user</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" class="form-control  is-invalid" id="userId" formControlName="userId"
                        aria-describedby="emailHelp" placeholder="Enter User ID">
                <div *ngIf="userId.invalid && (userId.dirty || userId.touched)">
                        <div *ngIf="userId.errors.userIdExists">User ID Exisits </div>
                        <div *ngIf="userId.errors.required">
                                userId is required.
                        </div>
                        <div class="invalid-feedback">
                                Please choose a username.
                        </div>
                </div>
        </div>
        <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" formControlName="password"
                        aria-describedby="passwordHelp" placeholder="Enter Password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors.required">
                                password is required.
                        </div>
                </div>
        </div>
        <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" formControlName="userName"
                        aria-describedby="userNameHelp" placeholder="Enter userName">
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                        <div *ngIf="userName.errors.required">
                                userName is required.
                        </div>
                </div>
        </div>
        <div class="form-group">
                <label for="group">Group</label>
                <input type="text" class="form-control" id="group" formControlName="group" aria-describedby="groupHelp"
                        placeholder="Enter group">
        </div>
        <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role" formControlName="role" aria-describedby="roleHelp"
                        placeholder="Enter role">
        </div>
        <div class="clearfix">
                <div class="float-right">
                        <button class="btn btn-primary mr-1" type="submit"
                                [disabled]="form.invalid || form.pending">Submit
                                <span *ngIf="form.get('userId').pending"> (searching)</span>
                        </button>
                        <button class="btn btn-secondary" routerLink="/users">list</button>
                </div>
        </div>
</form>