<div class="container">
    <!-- <div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Please seldct your option below</p>
    <hr class="my-4" />
    <p class="lead">
      <a
        class="btn btn-primary btn-lg"
        [routerLink]="['customers']"
        role="button"
        >Customers</a
      >
    </p>
  </div> -->
    <h3>Role</h3>
    <ul>
        <li>admin: Create organization</li>
        <li>manager: Manage organization</li>
        <li>user: limited to contents job, schedule job
            <ul>
                <li>contents/schedules create, delete or modify</li>

            </ul>
        </li>
    </ul>
</div>