<h2>organizations list</h2>

<div>
    <button class="btn btn-secondary float-right my-2" routerLink="/organizations-add">
        Add
    </button>
</div>

<table *ngIf="organizations" class="table">
    <tr class="bg-light">
        <th class="name">_id</th>
        <th class="name">organizationId</th>
        <th class="name">password</th>
        <th class="name">name</th>
        <th class="name">group</th>
        <th class="name">role</th>
        <th class="text-center">-</th>
    </tr>
    <tr *ngFor="let organization of organizations">
        <td class="name">{{ organization._id }}</td>
        <td class="name">{{ organization.organizationId }}</td>
        <td class="name">{{ organization.password }}</td>
        <td class="name">{{ organization.organizationName }}</td>
        <td class="name">{{ organization.group }}</td>
        <td class="name">{{ organization.role }}</td>
        <td>
            <button type="button" class="btn" (click)="delete(organization._id)">
                Delete
            </button>
            <a [title]="'details'" [routerLink]="['/organizations-edit', organization._id]">
                Edit
            </a>
        </td>
    </tr>
</table>