<div>
  <div>
    <p>if User, use auth data</p>
    <p>
      if Admin, look local-storage data, if not, use 1st items of organizations
      array, save to local storage
    </p>
  </div>

  <div class="dropdown">
    <!-- <a
      class="btn btn-block btn-secondary dropdown-toggle text-left"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown link
    </a> -->

    <a
      class="btn btn-block btn-secondary text-left"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="d-flex justify-content-between">
        <div>
          left aad dsafsdafs sdaf
        </div>
        <div>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </a>

    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <div class="form-group">
    <label for="organizationSelect">Organization select</label>
    <!-- <select class="form-control" id="organizationSelect" #mySelect (change)="onOptionsSelected(mySelect.value)">
            <option class="option" *ngFor="let option of dropDownData" [value]="option.seo_val"> {{option.text_val}}
            </option>
    
        </select> -->

    <select
      class="form-control"
      id="organizationSelect"
      #mySelect
      (change)="onOptionsSelected(mySelect.value)"
    >
      <option
        class="option"
        *ngFor="let organization of organizations"
        [value]="organization._id"
      >
        {{ organization.name }}
      </option>
      <option disabled selected hidden>manage</option>
    </select>
  </div>
</div>
